{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:home' %}"><i class="icon-speedometer"></i> Dashboard</a>
                <a class="nav-link" href="{% url 'add-post' %}"><i class="icon-speedometer"></i> Add New Post</a>
                <a class="nav-link" href="{% url 'dashboard:post-list' %}"><i class="icon-speedometer"></i> Post List</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>


    {% block sidebar %}
    {% endblock %}
</div>