{% extends 'base/base.html' %}

{% block extrajs %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    $(document).ready(function(){
        var quill = new Quill('#textarea-input', {
        modules: {
            toolbar: [
            ['bold', 'italic'],
            ['link', 'blockquote', 'code-block', 'image'],
            [{ list: 'ordered' }, { list: 'bullet' }]
            ]
        },
        placeholder: '',
        scrollingContainer: '#scrolling-container',
        theme: 'snow'
        });
        // post 
        const url = 'http://localhost:8000/api/blog/add-new-post/'
        
        $('#submit').click(function(){
            var d = quill.getText();
            var c = $('input[type=checkbox]').prop('checked');
            console.log(c)
            post_data = {
                "title": $("#title").val(),
                "description":quill.getText(),
                "category": $('#id_category').val(),
                "is_draft": c,
            }
            console.log(post_data);
            $.ajax({
                    url: url,
                    headers: {
                        'Authorization': 'Token {{ token }}' ,
                    },
                    method: 'post',
                    data: JSON.stringify(post_data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        console.log("success");
                    },
                    failure: function(errMsg) {
                         alert("error"+errMsg);
                    }
                });
        })
    });
  
</script>

{% endblock %}

{% block content %}

<div class="row">
   <div class="col-md-9">
        <div class="card h-100">
            <div class="card-header">
                <strong>Basic Form</strong> Elements
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input class="form-control" id="title" type="text" name="text-input" placeholder="Text">
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    
                    <div class="form-group row">  
                        <div class="col-md-12">
                            <div class="overflow-hidden" id="textarea-input" ></div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div> <!--card end-->   
    </div>
    <!--right side column-->
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <strong>Horizontal</strong> Form
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="" method="post">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <select class="form-control" id="id_category" name="select1">
                                <option value="">ক্যাটাগরী</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                        
                    <div class="form-group row">
                        <div class="col-md-12 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" id="id_is_draft" type="checkbox" value="check1">
                                <label class="form-check-label" for="inline-checkbox1">সংরক্ষিত রাখুন</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button id="submit" class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset">
                    <i class="fa fa-ban"></i> Reset</button>
            </div>
        </div> <!--card2 end -->
    </div> <!--/col-3 -->
</div>



{% endblock %}