{% extends 'main-base.html' %}

{% block content %}
<!--===================End header_section==================-->

<!--===================Start latest_post_section===========-->
    <section class="latest-posts">
      <div class="container">
        <div class="post-header">
          <h4>Latest post</h4>
          <p>{{ latest_post.count }} Items</p>
        </div>
        <div class="posts">
          {% for post in latest_post %}
          <div class="post">
            <div class="post-box">
              <h4 class="category"></h4>
              <h1><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h1>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
<!--===================End latest_post_section=============-->

    <section class="django-course">
      <div class="container">
        <img src="/static/img/course.png" alt="">
      </div>
    </section>

<!--===================Start tutorial_series_section=======--> 
    <section class="series-section">
      <div class="container">
        <h1 class="series-title">Tutorial series</h1>
        {% for category in categories %}
        <div class="series-example">
          <div class="post-header">
            <h4>{{ category.name }}</h4>
          </div>
          <div class="posts">
            {% for post in category.post.all|slice:":4" %}
            <div class="post">
              <div class="post-box">
                <h4 class="category"></h4>
                <h1><a href="{% url 'post_detail' post.pk %}"> {{ post.title }}</a></h1>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="btn-wrap">
            <a href="{% url 'posts_of category' category.pk %}" class="check-all">See totall post of this category</a>
          </div>
        </div>
        {% endfor %}          
      </div>
    </section>
<!--===================End tutorial_series_section=========-->

<!--===================Start footer_section================-->
    {% endblock %}