{% extends 'main-base.html' %}

{% block content %}
{% load thumbnail %}
<!--===================Start post_detail_section=========-->     
    <section class="s-post-header">
      <div class="post-header">
        <div class="post-container">
          <h1 class="post-title">
            {{ post.title }}
          </h1>
          <div class="post-info">
            <div class="author">
              {% thumbnail post.author.profile.author_img "50x50" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
              <p class="name"><a href="{% url 'posts_of_author' post.author.pk %}">{{ post.author.profile.author_name }}</a></p>
            </div>
            <div class="date">{{ post.date }}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="post-content">
      <div class="container">
        <p>{{ post.description|safe }}</p>
      </div>
    </section>  
<!--===================End post_detail_section=============-->

<div class="btns-wrap">
  {% if post.pk > first.pk %}
  <a href="{% url 'post_detail' post.pk|add:'-1' %}">&laquo;  Previous Post:</a>
  {% endif %}
  {% if post.pk < last.pk %}
  <a href="{% url 'post_detail' post.pk|add:'1' %}">Next Post:  &raquo;</a>
  {% endif %}
</div>

<!--===================Start DISQUS_comment_section========-->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://banglai-django.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><br>
<!--===================End DISQUS_comment_section==========-->

<!--===================Start footer_section================-->
{% endblock %}