{% extends 'base/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date registered</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.date }}</td>
                        <td>
                        {% if post.is_draft %}
                            <span class="badge badge-danger">Draft</span>
                        {% else %}
                            <span class="badge badge-success">Published</span>
                        {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="#">Edit</a>
                            <a class="btn btn-danger" href="#">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}